<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lettering.js"></script>
	<script type="text/javascript" src="js/jquery.textillate.js"></script>
  	<script type="text/javascript" src="js/main.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Knewave|Lato:700|Walter+Turncoat|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<title>What do the Mets owe Bobby Bonilla?</title>
</head>
<body>

	<div class="wrapper">
		<div class="maintitle">
			What do the Mets (still) owe Bobby Bonilla?
		</div>
		<div class="salaryowed">
			 $26,251,460.40
		</div>
	</div>
	
</body>
</html>